@font-face {
    font-family: "Lobster";
    src: local("Lobster"), 
        url("../fonts/Lobster-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("../fonts/Inter-VariableFont_opsz,wght.ttf");
    font-style: normal;
}