@media screen and (max-width: 900px){

    .container{
        max-width: 900px;
    }

    .header__menu{
        display: none;
    }

    .button_header{
        display: none;
    }

    .header__logo{
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 5px;
    }

    .header__logo-text{        
        font-size: 24px;
    }

    .main__welcome{
        font-size: 24px;
    }

    .main__options{
        flex-direction: column;
        align-items: center;
    }

    .main__options-title{
        font-size: 24px;
    }

    .main__options-descr{
        font-size: 16px;
    }

    .title{
        font-size: 24px;
    }

    .button{
        font-size: 16px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    .wrapper i{
        display: none;
    }

}
@media screen and (max-width: 600px){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}