@media screen and (max-width: 900px){

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

}
@media screen and (max-width: 600px){

    
    .container{
        max-width: 900px;
    }

    .header__menu{
        display: none;
    }

    .button_header{
        display: none;
    }

    .header__logo{
        justify-content: center;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__logo-img{
        margin: 0;
    }

    .header__logo-text{        
        display: none;
    }

    .main__logo{
        max-height: 100px;
    }

    .main__welcome{
        font-size: 26px;
        margin: 0;
    }

    .main__options{
        flex-direction: column;
        align-items: center;
    }

    .main__options-title{
        font-size: 26px;
    }

    .main__options-descr{
        font-size: 16px;
    }

    .title{
        font-size: 24px;
    }

    .button{
        font-size: 16px;
    }

    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .wrapper i{
        display: none;
    }
}