@media screen and (min-width: 1400px){
    .container{
        max-width: 1320px;
        padding: 20px 25px;
    }
}

@media screen and (max-width: 1400px){
    .container{
        max-width: 1140px;
        padding: 20px 25px;
    }
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 960px;
        padding: 20px 25px;
    }
}

@media screen and (max-width: 992px){

    .container{
        max-width: 720px;
        padding: 20px 20px;
    }

    .slider__area {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

}

@media screen and (max-width: 768px){
    .container{
        max-width: 540px;
        padding: 20px 15px;
    }
}

@media screen and (max-width: 576px){

    .container{
        padding: 20px 10px;
    }

    .header__menu{
        display: none;
    }

    .button_header{
        display: none;
    }

    .header__logo{
        justify-content: center;
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__logo-img{
        margin: 0;
    }

    .header__logo-text{        
        display: none;
    }

    .main__welcome{
        font-size: 26px;
        margin: 0;
    }

    .main__options{
        flex-direction: column;
        align-items: center;
    }

    .main__options-title{
        font-size: 26px;
    }

    .main__options-descr{
        font-size: 16px;
    }

    .title{
        font-size: 28px;
    }

    .button{
        font-size: 18px;
    }

    .slider__area {
        grid-auto-columns: 100%;
    }

    .slider__button{
        display: none;
    }

    .questions__list-item{
        padding: 10px;
    }

    .questions__list-title{        
        font-size: 18px;
    }
}
