:root {
    --main-bg-color: brown;    
    --descr-font-size: clamp(16px, 3vw, 22px);
    --descr-font-size-big: clamp(20px, 3vw, 28px);
    --button-font-size: clamp(20px, 3vw, 20px);
    --title-font-size: clamp(22px, 3vw, 40px);
}

*{
    font-family: 'Inter', sans-serif;
    color: #333333;
}

*:focus{
    outline: none;
}


.filter-white{
    filter: brightness(0) invert(1);
}

.padding-bottom-20px{
    padding-bottom: 20px;
}
.margin-top-10{
    margin-top: 10px;
}

.height-100vh{    
    height: 1px;
    min-height: 100vh;
}

.col_centered{
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.container_flex-margin{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.box-shadow{    
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-shadow{    
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: 'Lobster';
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: 400;
    color: #ffffff;
}

.title_pink{
    color: rgb(255, 167, 192);
}

.title_small{
    font-size: 36px;
    text-align: left;
}


.header{
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;
    border-bottom: solid 5px rgb(168, 212, 230);
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    transition: max-height .5s;
}

.header_expand{
    max-height: 500px;
    justify-content: flex-start;
}

.header__hamburger{
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .5s;
}

.header__hamburger_rotate{
    transform: rotate(180deg) translateX(50%);
}


.header__hamburger::after, .header__hamburger::before{
    content: "";
    display: inline-block;
    height: 5px;
    width: 20px;
    background-color: rgb(255, 167, 192);
    border-radius:5px;
    transition: transform .5s;
}

.header__hamburger:hover{
    cursor: pointer;
}

.header__hamburger::after{
    transform: rotate(135deg);
    margin-left: -4px;
}

.header__hamburger::before{
    transform: rotate(-135deg);
    margin-right: -4px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_white{    
    filter: brightness(0) invert(1);
}

.logo-img{
    height: 51px;
    margin-right: 20px;
}

.logo-text{
    color: rgb(255, 157, 184);
    font-family: 'Lobster';
    font-size: var(--descr-font-size-big);
    font-weight: 400;
    line-height: normal;
    text-align: left;
    text-decoration: none;
}
.logo:hover{
    text-decoration: none;
}

.menu{  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.menu_header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.menu_vertical{
    flex-direction: column;
}

.menu__link{    
    color: #333333;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-decoration-line: none;
    transition: background .15s, box-shadow .15s;
}

.menu__link:hover{    
    color: #333333;
    text-decoration-line: underline;
}

.menu__link_vol{
    padding: 10px 20px;
    border-radius: 15px;
}

.menu__link_vol:hover{    
    background: rgb(242, 232, 242);
}

.menu__link_white{
    color: #ffffff;
}
.menu__link_white:hover{    
    color: #ffffff;
}

.button{
    text-align: center;
    border-radius: 80px;
    background: rgb(242, 232, 242);
    color: rgb(255, 157, 184);
    border-style: none;
    padding: 20px 30px;
    font-family: Inter;
    font-size: var(--button-font-size);
    font-weight: 500;
    line-height: normal;
    text-align: center;
    transition: transform .1s;
}

.button:hover{
    transform: scale(1.05);
}

.button:active{
    transform: scale(.95);    
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.button:focus{
    outline: none;
}

.button_margin-bottom{
    margin-bottom: 10px;
}

.button_contrast{
    color: rgb(255, 255, 255);
    font-size: var(--button-font-size);
    line-height: 22px;
    border-radius: 14px;
    background: rgb(255, 157, 184);
    padding: 12px 20px;
}

.button_header{
    margin-left: auto;
}

.main{
    padding-top: 65px;
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url(../img/main.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main__welcome{
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: var(--title-font-size);
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-wrap: balance;
}

.main__logo{
    display: block;
    filter: brightness(0) invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-height: 186px;
    min-height: 10px;
    margin-top: auto;
}

.main__options{
    display: flex;
    align-items:start;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main__options-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    flex: 1;
    padding: 10px 20px;
    transition: transform .5s;  
}

.main__options-item:hover{  
    transform: scale(1.25) rotate(360deg);
}

.main__options-title{
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: var(--title-font-size);
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.main__options-descr{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: var(--descr-font-size);
    font-weight: 500;
    line-height:normal;
    text-align: center;
}

.examples{    
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/examples.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.description{
    font-size: var(--descr-font-size);
    text-align: center; 
    color: white;
}

.slider {
    width: 100%;
    position: relative;
}
.slider__button {
    z-index: 2;
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    padding: 10px;
}

.slider__button:first-child {
    left: -22px;
}
.slider__button:last-child {
    right: -22px;
}
.slider__area {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3));
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    margin: 0;
}
.slider__area_feedback{
    grid-auto-columns: calc((100% / 3));;
}
.slider__card {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    scroll-snap-align: center;
    list-style: none;
    background: rgb(255, 206, 219);
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid white 5px;
    overflow: hidden;
    padding: 5px;
}
.slider__card:nth-child(even){
    background: #A8D4E6;
}

.slider__area::-webkit-scrollbar {
    display: none;
}
.slider__area_no-transition {
    scroll-behavior: auto;

}
.slider__area_dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.slider__area_dragging .slider__card {
    cursor: grab;
    user-select: none;
}
.slider__card-img-wrapper_star {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px; 
    align-items: center;
    background: #ffffff; 
    border-radius: 8px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.slider__card-img-wrapper_star:before, 
.slider__card-img-wrapper_star:after {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0;
    width: 250px; 
    height: 250px; 
    background: inherit;
    border-radius: 8px;
}
.slider__card-img-wrapper_star:before {
    transform: rotate(30deg);
}
.slider__card-img-wrapper_star:after {
    transform: rotate(60deg);
}
.slider__card-img {
    position: relative;
    width: 100%;
    max-height: 500px;
    z-index: 1;
}
.slider__card-img_star {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgb(255, 157, 184);
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}
.slider__title {
    text-align: center;
    font-weight: bold;
    font-size: var(--descr-font-size-big);
    margin: 60px 0 5px;
    color: rgb(255, 255, 255);
}
.slider__descr {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: var(--descr-font-size);
}
.slider__price {
    margin-top: auto;
    color: rgb(255, 255, 255);
    font-size: var(--descr-font-size-big);
    font-weight: bold;
}
.questions{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/questions.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.questions__list{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    list-style-type: none;
}

.questions__list-item{
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    display: block;
    border-radius: 10px;
    background: rgb(242, 232, 242);
    border: solid white 5px; 
}

.questions__list-title{
    font-size: var(--descr-font-size-big);
    cursor: pointer;
    transition: margin 150ms ease-out, color .25s;
}

.questions__list-title::-webkit-details-marker{
    display:none;
}
.questions__list-title::-moz-list-bullet{
    list-style-type:none;
}
.questions__list-title::marker{
    display:none;
}

.questions__list-title:hover{    
    color: rgb(255, 157, 184);
}

.questions__list-item[open] > .questions__list-title::marker {
    color: rgb(255, 157, 184);
}
  
.questions__list-item[open] .questions__list-title {
    margin-bottom: 15px;
    color: rgb(255, 157, 184);
}

.questions__list-descr{
    font-size: var(--descr-font-size);
}

.feedback{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/feedback.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.questions__list-item:nth-child(even){    
    background: #A8D4E6;
}

.about__card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #ddf3fc;
    padding: 10px;
    border-radius: 10px;
    border: solid white 5px; 
}

.about__descr{
    font-size: var(--descr-font-size);
}

.about__info{
    margin-top: 50px;
}

.about__half{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
}

.about__info{
    text-align: left;
}

.about__img-wrapper{
    position: relative;
}

.about__img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.about__contacts{
    font-size: var(--descr-font-size);
}

.about__contacts-info{
    display: block;
    color: #333333;
}

.about__contacts-info:hover{
    color:#333333;
}

.about__contacts-img{
    display: inline;
    height: 32px;
    margin-bottom: 5px;
}

.footer{
    width: 100%;
    box-shadow: 0px -5px 0px 0px rgb(255, 157, 184);
    background: #A8D4E6;
    padding: 10px 0;
}

.modal{
    visibility: hidden;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.modal_active{    
    background-color: rgba(22,22,22,0.5);
    visibility: visible;
}


.modal__form{
    position:absolute;
    background-color: #fff;
    background: #A8D4E6;
    padding: 20px;
    border: solid #fff 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -100%;
    transition: opacity .5s, margin-top .5s;
    opacity: 0;
}

.modal__form_active{
    margin-top: 0;
    opacity: 1;
}

.modal__text-field{
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.modal__text-field_big{
    margin: 10px 0;
    border: none;
    height: 200px;
    resize: none;
    border-radius: 10px;
}