*{
    font-family: 'Inter', sans-serif
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: inherit;
}

.container_flex-margin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}

.container_fullheight{
    min-height: 100vh;
}

.box-shadow{    
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-shadow{    
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: 'Lobster';
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    color: rgb(255, 167, 192);
}

.title_margin{
    margin-top: 30px;
}

.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0px 5px 0px 0px rgb(168, 212, 230);
    background: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
}

.header__item{    
    display: flex;
    flex: 1;
    justify-content: stretch;
}

.header__logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header__logo-img{
    height: 51px;
    margin-right: 20px;
}

.header__logo-text{
    color: rgb(255, 157, 184);
    font-family: 'Lobster';
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.header__logo:hover{
    text-decoration: none;
}

.header__menu{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu-link{
    padding: 10px 20px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-decoration-line: none;
}

.header__menu-link:hover{    
    color: rgb(0, 0, 0);
    text-decoration-line: underline;
    background: rgb(242, 232, 242);
}

.button{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 80px;
    background: rgb(242, 232, 242);
    color: rgb(255, 157, 184);
    border-style: none;
    padding: 20px 30px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    transition: transform .5s;
}

.button:hover{
    transform: scale(1.05);
}

.button_contrast{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 22px;
    border-radius: 14px;
    background: rgb(255, 157, 184);
    padding: 12px 20px;
}

.button_contrast:hover{    
    background: rgb(228, 138, 164);
}

.button_header{
    margin-left: auto;
}

.main{
    background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url(../img/main.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 60px);
}

.main__welcome{
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.main__logo{
    filter: brightness(0) invert(1) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-height: 186px;
    margin-top: auto;
}

.main__options{
    display: flex;
    align-items:start;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main__options-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    flex: 1;
    padding: 10px 20px;
    transition: transform .5s;  
}

.main__options-item:hover{  
    transform: scale(1.25) rotate(360deg);
}

.main__options-title{
    color: rgb(255, 255, 255);
    font-family: Lobster;
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.main__options-descr{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height:normal;
    text-align: center;
}

.questions__list{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    list-style-type: none;
}

.questions__list-item{
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    display: block;
    border-radius: 10px;
    background: rgb(242, 232, 242);
    border: solid white 5px; 
}

.questions__list-title{
    font-size: 22px;
    cursor: pointer;
    transition: margin 150ms ease-out, color .25s;
}

.questions__list-title::-webkit-details-marker{
    display:none;
}
.questions__list-title::-moz-list-bullet{
    list-style-type:none;
}
.questions__list-title::marker{
    display:none;
}

.questions__list-title:hover{    
    color: rgb(255, 157, 184);
}

.questions__list-item[open] > .questions__list-title::marker {
    color: rgb(255, 157, 184);
}
  
.questions__list-item[open] .questions__list-title {
    margin-bottom: 15px;
    color: rgb(255, 157, 184);
}

.questions__list-descr{
    font-size: 18px;
}

.questions__list-expand{
    font-size: 50px;
    line-height: 10px;
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translate(0, 10%);
}

.questions__list-item:nth-child(even){    
    background: #A8D4E6;
}
